*{
    /* border:1px solid red; */
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    font-size:16px;
}

p{
    text-align: center;
    width: 50%;
    

}
ul{
    list-style-type: none;
    padding: 0;
    text-align: end;
 
}
li{
    display: inline;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: purple; */
    color: purple;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid gray;
}
